# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Data
data/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Distribution / packaging
dist/
build/
*.egg-info/

# Dev only
.git/
.gitignore
scripts/
.pytest_cache/
.ruff_cache/
.mypy_cache/
